HF_TOKEN=
EMBED_MODEL_ID=BAAI/bge-m3
MAX_TOKENS=400
OLLAMA_MODEL=llama3.2:latest
CROSS_ENCODER_MODEL=
CHUNK_LIMIT_BM25=30
CHUNK_LIMIT_VECTORIAL=30
CHUNK_LIMIT_RRF=10
CHUNK_LIMIT_CROSS_ENCODER=10

MISTRAL_API_KEY=